
*{
    padding: 0;
    margin: 0;
    border: 2px solid red;
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
nav{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-left: 500px;
    padding-bottom: 200px;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
}
#text1{
    color:#FAFF00;
    font-size: 50px;
    text-align: justify;
    float: left;
    padding-left: 150px;
}
#text1 p{
    color: #ffffff;
    margin-top: 50px;
}
nav .nav-links  ul  li{
    display: inline-block;
    margin-right: 100px;
    color: white;}
    nav .nav-links ul li a{
        color: #ffffff;
        font-size: 30px;
    }
    .nav-links button{
        width: 100px;
        height: 50px;
        background-color: #FAFF00;
    }
    .nav-links #btn1{
        width: 75px;
        height: 35px;
        background-color: black;
        color: #FAFF00;
        font-size: 20px;
        margin-left: 20px;
    }
#sect1{
    background-image: url("./images/moving\ 1.png");
    background-size: cover; 
    background-position: center;
    height:100vh;
    display: flex;
    flex-direction: column; 
  
}
#sect2{
    display: flex;
    margin-top: 100px;
}
.txt2{
    margin-top: 400px;
    padding-left: 300px;
    font-size: 40px;
}
.txt2 button{
    color: #FAFF00;
    background-color: black;
    width: 250px;
    height: 70px;
    font-size: 25px;
    margin-top: 200px;
    border-left: 0 0 0 rounded;
}
.txt2 hr{
    width: 400px;
    height: 5px;
    background: radial-gradient(brown, orange, black)
}
.txt2 h1{
    font-size: 80px;
    font-weight: bold;
}
.div-img1{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}
.div-img2{
    display: flex;
    flex: row;
    margin-left: 200px;
    margin-top: 200px;
}
#sect3{
    margin-top: 150px;
}
#sect3 hr{
    width: 400px;
    height: 5px;
    background: radial-gradient(brown, orange, black);
    margin-left: 300px;
    margin-left: 300px;
}
#sect3 h1{
    font-weight: 900;
    font-size: 100px;
    margin-left: 300px;
}
.div-img1{
    margin-top: 200px;
    display: flex;
}
#box1{
    margin-right: 100px;
}
footer{
    background-color: black;
    margin-top: 200px;
    height: 40vh;
    padding-left: 100px;
}
footer p{
    color: #ffffff;
    font-size: 50px;
}
/*styling for the second page*/
#abt-sect1{
    background-color: black;
}
.abt-txt{
    color: #ffffff;
    font-size: 50px;;
}
#abt-sect2{
    display: flex;
    margin-top: 100px;
}
form{
    width: 500px;
    height: 800px;
    background-color: #ffffff;
    margin-left: 30px;
    box-sizing: border-box;
    box-shadow: gainsboro;
    border: 2px solid gainsboro ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

form input{
    width: 450px;
    height: 75px;
    font-size: large;
    color: black;
    font-weight: 900px;
    font-size: 30px;
    border: 2px solid gainsboro ;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
}
form textarea{
    width: 450px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}
form button{
    border-top-right-radius: 20px;
    background-color: black;
    width: 450px;
    margin-top: 20px;
    height: 100px;
    margin-left: 20px;
    color: #FAFF00;
    font-size: 30px;
}
.div-img4{
    margin-top: 20px;
}
.div-img4 img{
    margin-right: 40px;
}
#abt-sect4{
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#abt-sect4 p{
    margin-top: 30px;  
}
#abt-sect5{
    margin-top: 200px;
}

#abt-sect5 h1{
    margin-left: 300px;
    margin-top: 30px;
    font-size: 40px;

}
#abt-sect5 hr{
    width: 400px;
    height: 5px;
    background: radial-gradient(brown, orange, black);
    margin-left: 300px;
    margin-left: 300px;}
#desc-sect{
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 1

}
.desc{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
#ls-1{
    margin-right: 100px;
}